{% extends 'users/layout.html' %}
{%load static%}
{% block content %}
<div class='row'>
<img src="{%static 'imgs/bg.jpg'%}" opacity='0.1'>
</div>
<div class='row justify-content-center' style='height:50%; background-color:;margin-bottom:50px;'>
    <div class='col-4'>

        <div class="card" stye='margin:0;'>
        <div class="card-body"style='background-color:pink;height:150px;'>
            <p class="card-text">To be able to make an order and submit your location</p>
            <a href="{% url 'register' %}" class="btn btn-outline-secondary">Register</a>
        </div>
        </div>

    </div>
    <div class='col-4' >


        <div class="card" stye='margin:0;'>
        <div class="card-body"style='background-color:pink;height:150px;'>
            <p class="card-text">already have an account?</p>
            <a href="{% url 'login' %}" class="btn btn-outline-secondary">Login</a>
        </div>
        </div>

    </div>
</div>
{% endblock  %}