{% extends 'base.html' %}
{%load static%}

{%block 'nav'%}
          <a href="{% url 'orders:menu'%}" class="list-group-item list-group-item-action bg-light">Make an Order</a>
          <a href="{%url 'orders:profile'%}" class="list-group-item list-group-item-action bg-light">Profile</a>
{%endblock%}

{% block 'login'%}
<li class="nav-item">
    <a class="nav-link" href="{% url 'users:logout' %}">LogOut</a>
</li>
{% endblock  %}

{%block script%}
    <script>
    const arr = new Array()
    var totalprice = 0;
    function submitorder(price)
    {
        var x = document.querySelectorAll("input").forEach(function(btn)
        {
            if(btn.checked === true && !(arr.includes(btn.id)))
            {
                arr.push(btn.id);
                if(price == null){
                    price = 0;
                }
                totalprice+=price;
                document.getElementById("totalprice").innerHTML= "Total Price = "+ totalprice;
                
                var node = document.createElement("OPTION");                 
                var textnode = document.createTextNode(btn.value+"\" size : "+btn.id+"\"" +" Price: "+ price);
                node.appendChild(textnode);
                node.id=btn.id+'op';
                document.getElementById("exampleFormControlSelect1").appendChild(node);
            }
            if(btn.checked === false && (arr.includes(btn.id)))
            {
                arr.pop(btn.id);
                totalprice-=price;
                var node = document.getElementById(btn.id+'op');                 
                node.remove();
            }
        });
    }  
    </script>
{% endblock %}

{% block content %}
<div class='container'>
<div class='row justify-content-center'>
<div class='col-8'>
<table style="width:100%;" id = 'customers'>
<tr>
<th>Type</th>
<th>Item</th>
<th colspan="2">Small</th>
<th colspan="2">Large</th>

</tr>

{%for m in menu%}

<tr>
    <td>{{m.type_i}}</td>
    <td>{{m.item}}</td>
    <td>{{m.price_small}}</td>

    {%if m.price_small is NULL%}
        <td><input type="checkbox" class="form-check-input" p="Small"onclick="submitorder()"  value="{{m.item}}" id="{{m.id}}+Small"/></td>
    {%else%}
        <td><input type="checkbox" class="form-check-input" p="Small"onclick="submitorder({{m.price_small}})"  value="{{m.item}}" id="{{m.id}}+Small"/></td>
    {%endif%}
        <td>{{m.price_large}}</td>
    {%if m.price_small is NULL%}
        <td><input type="checkbox" class="form-check-input" p="Large"onclick="submitorder()"  value="{{m.item}}" id="{{m.id}}+Large"/></td>
    {%else%}
        <td><input type="checkbox" class="form-check-input" p="Large"onclick="submitorder({{m.price_large}})"  value="{{m.item}}" id="{{m.id}}+Large"/></td>
    {%endif%}

</tr>
{%endfor%}
</table>


<button type = "submit" value = "Get"  style='width:100%'><a href=''>Reset</a></button>

<form id='submitform' style='margin-bottom:100px;'action="{% url 'orders:menu'%}" method="POST">
<div class='row justify-content-center'>
    <div class='col-11' style='background-color:pink;border-radius:5px;'>
        {% csrf_token %}
            <div class="form-group">
            <label for="exampleFormControlSelect1">show items</label>
            <select multiple class="select-multiple-field" id="exampleFormControlSelect1" name="exampleFormControlSelect1">
            </select>
            </div>
            <h3 id='totalprice'></h3>
        <button type="submit">Send Order</button>
    </div>
</div>
</form>

</div>
</div>
</div>
{%endblock%}