{% extends 'base.html' %}
{%load static%}
{%block 'nav'%}
          <a href="{% url 'orders:menu'%}" class="list-group-item list-group-item-action bg-light">Make an Order</a>
          <a href="{%url 'orders:profile'%}" class="list-group-item list-group-item-action bg-light">Profile</a>
{%endblock%}

{% block 'login' %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'users:logout' %}">LogOut</a>
</li>
{% endblock  %}


{% block content %}
<div class='container'>
<div class='col-6 col-md-12'>
<h3>Previous Orders</h3>

    {%for key,value in orders.items%}
        {{key}}<br>
        
        <ul>
        {%for item in value%}

            <li>
                {{item.0.item}}
                {{item.1}}
                {%if item.1 == 'Small'%}
                {{item.0.price_small}}
                {%elif item.1 == 'Large'%}
                {{item.0.price_large}}
                
                {%endif%}
            </li>

        {%endfor%}
        </ul>
    {%endfor%}
</div>
</div>
{% endblock  %}