{%load static%}
<!doctype html5>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pizza Shop</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>

<body>

<!--container-->
<div class='body container-fluid' >
  <div class='row' style='height:100%;background-color:;overflow-x:hidden; '>
  
     <!--nav block-->
    <div class="col-2" style="height:100%;background-color:#8BE4F7;position:fixed; z-index:1;padding:2%">
      
      <div class='row justify-content-md-center' style='margin:12%'>
       <button class='btn btn-outline-secondary'style='width:100%'><a>Home</a></button>
      </div>
      
      <div class='row justify-content-md-center'style='margin:12%'>
       <button class='btn btn-outline-secondary'style='width:100%'>Make an order</button>
      </div>
      
      <div class='row justify-content-md-center'style='margin:12%'>
       <button class='btn btn-outline-secondary'style='width:100%'>Menu</button>
      </div>

      <div class='row justify-content-md-center'style='margin:12%; '>
        <img src="{% static "imgs/img1.jpeg" %}" alt="Pizza" style='margin-top:270%;width:70%; border-radius:5px;'>
      </div>

    </div>
      <!--content block-->

    <div class="col-10" style="height:100%;;margin-left:17%; ">
      <div class="row" >
        <div style='height:5000px;'>
        {%block content%}
        {%endblock%}
        </div>
      </div>
      
      
      <!--footer block-->
      <div class="row justify-content-md-center" style='height:10%; float:bottom;background-color:#8BE4F7;'>
      
        <footer class="page-footer font-small">

          <!-- Copyright -->
          <div class="footer-copyright text-center py-3"><small>For edx's CS50 By</small>
            <a href="#"> Marina Fares</a>
          </div>
          <!-- Copyright -->

        </footer>


      </div>
    </div>
      
  </div>
</div>


</body>
</html>