
{% extends 'users/layout.html' %}
{% load widget_tweaks %}

{% block content %}
        <div class='content-section justify-content-center row' style='margin-bottom:25px;margin:55px;padding:20px;border-radius:10px; background-color:pink;opacity:0.9'>
            <form method="post" novalidate class='justify-content-center'>
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% for field in form.visible_fields %}
                <div class="form-group">
                    
                    {% render_field field style="border: 1px solid black;border-radius:8px;" placeholder=field.name %}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div class='border-top pt-3'>
                <small class='text-muted'>
                    Already have an account<a class='ml-2' href='{%url 'login'%}'>Sign In<a/>
                </small>
            </div>
        </div>
{% endblock %}